<!DOCTYPE html>
<html>
<head>
    <title>Polls App</title>
</head>
<body>
    <h1>Welcome to the Polls App!</h1>

    <ul>
        <li><a href="{% url 'polls:special-2003' %}">Special 2003</a></li>
        <li><a href="{% url 'polls:year-archive' 2025 %}">Archive 2025</a></li>
        <li><a href="{% url 'polls:month-archive' 2025 8 %}">August 2025</a></li>
        <li><a href="{% url 'polls:article-detail' 2025 8 'building-django' %}">
            Article Detail
        </a></li>
        <li><a href="{% url 'polls:special-year' 1999 %}">Special Year (custom converter)</a></li>
        <li><a href="{% url 'polls:regex-page' 123 %}">Regex Page 123</a></li>
        <li><a href="{% url 'polls:credit:reports' %}">Credit Reports</a></li>
        <li><a href="{% url 'polls:credit:charge' %}">Credit Charge</a></li>
    </ul>
</body>
</html>
